name: Github JD-sign bot

on:
    push:
        branches:
            - master
    schedule:
        - cron: '5 16 * * *'
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout codes
              uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                node-version: '12.x'
            - name: Run app
              run: npm install
            - run: node app.js
              env:
              JD_COOKIE: __jda=122270672.16111906651831629507465.1611190665.1611190665.1611190665.1; __jdv=122270672%7Cdirect%7C-%7Cnone%7C-%7C1611190665188; __jdc=122270672; mba_muid=16111906651831629507465; shshshfp=580434c377e642140f452f61a2786c7c; shshshfpa=56669e86-5833-09d6-85bf-97725f8e9767-1611190667; shshshsID=9f46c65a54f6317b03b4f08c2326b17c_1_1611190668249; shshshfpb=ykFxXX4aNgXWkI7uIXuwehw%3D%3D; 3AB9D23F7A4B3C9B=M5VUFJF3EHEOXNOZFUYG3ZXSGQM2LGYGIJQFWPWYTR4ZJJQNQS6DMINTGW4B6MVJU2DMIX4XUXAKNEGE6NUZJRZQOI; pt_token=xouk0hqq; pwdt_id=jd_472430e1823c1; sfstoken=tk01me7521c94a8sMisxc0lxajButxg4ndSTQjvuCOgnDj1IpOwD+YV6DgTim3FrAXU99Lu4EPX6wGV0b9QVKBgNVuBt; wxa_level=1; retina=1; cid=9; jxsid=16111907245173149415; webp=1; visitkey=14564238469686009; autoOpenApp_downCloseDate_auto=1611190729042_21600000; wqmnx1=MDEyNjM2NHNqLzY2MGwwdWQ4aSAvMS5BZTUgTGVvby4wTSBpMzNmZjI1VkVJVShS; __jdb=122270672.3.16111906651831629507465|1.1611190665; mba_sid=16111906651964724102169587456.3; __jd_ref_cls=MHome_BfloorExpo
        
                PUSH_KEY:SCU152811Tfbcb2e36d10baa6b62e7a207fb76e78e6008a9e96a5b7
